nav {
    // height: 11vh;
    background-color: rgb(0, 0, 0);
}

li a {
    font-size: 18px;
}
footer {
    display: block;
 }
 .card {
    display: block;
    // text-align: -webkit-center;
    border-radius: 0;
    background-size: cover;
    // height: 2em;
    background-color: #151218;
}