<!-- <div class="background"> -->
<img src="./assets/bgHome.png" width="100%" alt="fivem">


<!-- <div class="card"> -->
<!-- <div class="mt-5"></div> -->
<!-- <div class="card-body"> -->
<div class="card p-5">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-7 col-md-6 col-sm-12 mb-2"> -->

            <!-- </div> -->
            <div class="col-lg-12 col-md-12  col-sm-12 mb-1">
                <div class="card p-1" class="col-lg-12 col-md-12  col-sm-12" style="border-radius: 1%;">
                    <div class="card-body">
                        <div class="text-center mb-2" style="font-size: 45px;"> What Is <span
                                class="text-danger">Roleplay</span> ?</div>
                        <div class="card-text text-center" style="font-size: 20px;">เล่นจำลองเป็นมนุษย์
                            ต้องมีความคิดการกระทำตอบสนองต่อสิ่งต่างๆโดยยึดหลักความเป็นจริง . . .</div>

                        <div class="text-center mt-5">
                            <a href="https://docs.google.com/document/d/1OcBLNRUBfZe5ea6r1t3YgMZO2vJUFxLDd5zJ6UUguSI/edit"
                                target="_blank" class="col-md-12 btn btn-outline-danger btn-lg">อ่านกฎ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card2">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-7 col-md-6 col-sm-12 mb-2"> -->

            <!-- </div> -->
            <div class="col-lg-12 col-md-12  col-sm-12 mb-1">
                <div class="card p-1" class="col-lg-12 col-md-12  col-sm-12">
                    <div class="card-body">
                        <div class="text-center mb-2" style="font-size: 50px;">Occu<span
                                class="text-danger">pation</span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-custom mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6  col-sm-3 mb-5">
                    <div class="card p-3"
                        style="border-top: solid rgb(158, 32, 51);background-color: #151218;height: 400px;">
                        <div class="center">
                            <i class="fas fa-briefcase-medical fa-5x pt-2"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div style="font-size: 30px;">
                                    <span class="text-danger" style="font-size: 40px;">หมอ</span>
                                    &nbsp;จัดได้ว่าเป็นอาชีพยอดฮิตที่นิยมในหมู่สาวๆ แต่หนุ่มๆก็เล่นได้นะ !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6  col-sm-3 mb-5">
                    <div class="card p-3"
                        style="border-top: solid rgb(158, 32, 51);background-color: #151218;height: 400px;">
                        <div class="center">
                            <i class="fas fa-fist-raised fa-5x pt-2"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div style="font-size: 30px;">
                                    <span class="text-danger" style="font-size: 40px;">ตำรวจ</span>
                                    &nbsp;อีกหนึ่งนอาชีพที่คนนิยมอันดับต้นๆในการสวมบทบาทเลยทีเดียว !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6  col-sm-3 mb-5">
                    <div class="card p-3"
                        style="border-top: solid rgb(158, 32, 51);background-color: #151218;height: 400px;">
                        <div class="center">
                            <i class="fas fa-wrench fa-5x pt-2"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div style="font-size: 30px;">
                                    <span class="text-danger" style="font-size: 40px;">ช่าง</span>
                                    &nbsp;เป็นอีกอาชีพที่นิยมในกลุ่มผู้ที่รักการอัพเกรดรถหรือซ่อมแซม !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-3 mb-5">
                    <div class="card p-3"
                        style="border-top: solid rgb(158, 32, 51);background-color: #151218;height: 400px;">
                        <div class="center">
                            <i class="fas fa-heart fa-5x pt-2"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div style="font-size: 30px;">
                                    <span class="text-danger" style="font-size: 40px;">เด็กเอ็นฯ</span>
                                    &nbsp;อาชีพใหม่มาแรงสำหรับคนชอบด้านบริการ <span class="text-danger">ห้ามพลาด</span> !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->


<!-- </div> border: 3px solid transparent; -->
<!-- <img src="./assets/fivem.png" class="col-lg-12 col-md-12 col-sm-12"
    style="border-top-left-radius: 1%;border-top-right-radius: 1%;border-color: white;" alt="fivem"> -->
